registry=https://nexus-devportal.de.dmz.tuhuk.de/repository/npmjs-public
loglevel=warn
strict-ssl=false
puppeteer_skip_download=true
puppeteer_skip_chromium_download=true
sharp_libvips_binary_host=https://nexus-devportal.de.dmz.tuhuk.de/repository/github/lovell/sharp-libvips/releases/download
sharp_binary_host=https://nexus-devportal.de.dmz.tuhuk.de/repository/github/lovell/sharp/releases/download
